
.credit-card-form__input {

}

.credit-card-form__input--valid {
}

.credit-card-form__input-container {
	margin: 1em;
}

.credit-card-form__input-label {
	font-weight: bold;
}

.credit-card-form__input-label--valid {
	font-weight: bold;
	color: green;
}

.credit-card-form {
	
}

.credit-card-form--valid {
	border: 1px solid green;
}
